{% extends 'blog/base.html' %}

{% block title %}Robin's blog{% endblock %}
{% block content %}

    <div class="page-welcome-header">
        <h2 style="color:white;">欢迎来到我的博客 </h2>
        <h3 style="color:white;">Welcome to visit my website</h3>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="list-group" style="margin-top:30px;">
                    {% for entry in entry_list %}
                        <li class="list-group-item">
                            <h3><a href="{{ entry.get_absolute_url }}"> {{ entry.title }}</a></h3>
                            <br>
                            {% if entry.img %}
                                <img src="{{ entry.img.url }}" width=40%/>
                            {% endif %}
                            {% if entry.abstract %}
                                <p>{{ entry.abstract }}</p>
                            {% else %}
                                <p>{{ entry.body | truncatechars:180 }}</p>
                            {% endif %}
                            <p>
                                <span><i class="glyphicon glyphicon-user"></i>&nbsp{{ entry.author }}</span>
                                <span>&nbsp&nbsp&nbsp&nbsp
                        <i class="glyphicon glyphicon-time"></i>&nbsp{{ entry.created_time }}</span>
                                <span>&nbsp&nbsp&nbsp&nbsp<i
                                        class="glyphicon glyphicon-eye-open"></i>&nbsp{{ entry.visiting }}</span>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
                <!--/.pagination-->
                <div id="paginator" style="text-align: center;">
                    <ul class="pagination">
                        {% if entry_list.has_previous %}
                            <li><a href="?page={{ entry_list.previous_page_number }}">
                                <i class="glyphicon glyphicon-chevron-left"></i>前一页</a></li>
                        {% endif %}

                        {% if page_data.first %}
                            <li><a href="?page=1">1</a></li>
                        {% endif %}

                        {% if page_data.left %}
                            {% if page_data.left_has_more %}
                                <li><span>...</span></li>
                            {% endif %}

                            {% for i in page_data.left %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}

                        {% endif %}

                        <li class="active"><a href="?page={{ entry_list.number }}">{{ entry_list.number }}</a></li>

                        {% if page_data.right %}
                            {% for i in page_data.right %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endfor %}

                            {% if page_data.right_has_more %}
                                <li><span>...</span></li>
                            {% endif %}

                        {% endif %}

                        {% if page_data.last %}
                            <li><a href="?page={{ entry_list.num_pages }}">{{ paginator.num_pages }}</a></li>
                        {% endif %}

                        {% if entry_list.has_next %}
                            <li><a href="?page={{ entry_list.next_page_number }}">下一页
                                <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                {% include 'blog/right_side_bar.html' %}
            </div>
        </div>
    </div>
{% endblock %}